<div id="<%= dom_id membership %>">
  <p>
    <strong>Data Iscrizione:</strong>
    <%= membership.start_date %>
  </p>

  <p>
    <strong>Data Scadenza:</strong>
    <%= membership.end_date %>
  </p>

  <p>
    <strong>Utente:</strong>
    <%= membership.user.full_name %>
  </p>

</div>
