<h1>Rinnovo Quota Associativa</h1>

<%= render "form", membership: @membership %>

<br>

<div>
  <%= link_to "Show this membership", @membership %> |
  <%= link_to "Ritorna alla lista utenti", users_path %>
</div>
