<h1>New subscription history</h1>

<%= render "form", subscription_history: @subscription_history %>

<br>

<div>
  <%= link_to "Back to subscription histories", subscription_histories_path %>
</div>
