<div class="py-3">
    <%= form_with url: path, method: :get, data: { turbo_frame: frame, turbo_action: 'advance', controller: 'usearch', action: 'input->usearch#submit' } do |f| %>
        <div class="input-group">
            <span class="input-group-text bg-secondary">
                <i class="bi bi-search text-primary"></i>
            </span>
            <%= f.text_field :name, placeholder: t('global.search_name'), class: 'form-control' %>
        </div>
    <% end %>
</div>
