<div class="rounded-3 border border-secondary-subtle overflow-hidden mb-3">
    <table class="table table-borderless table-striped mb-0">
        <thead class="table-secondary">
            <%= yield :header %>
        </thead>
        <tbody>
            <%= yield %>
        </tbody>
    </table>
</div>
