<%= form_with(model: pricing_plan) do |form| %>
  <% if pricing_plan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pricing_plan.errors.count, "error") %> prohibited this pricing_plan from being saved:</h2>

      <ul>
        <% pricing_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
