<% content_for :title, "Editing pricing plan" %>

<h1>Editing pricing plan</h1>

<%= render "form", pricing_plan: @pricing_plan %>

<br>

<div>
  <%= link_to "Show this pricing plan", @pricing_plan %> |
  <%= link_to "Back to pricing plans", pricing_plans_path %>
</div>
