<% content_for :title, "New pricing plan" %>

<h1>New pricing plan</h1>

<%= render "form", pricing_plan: @pricing_plan %>

<br>

<div>
  <%= link_to "Back to pricing plans", pricing_plans_path %>
</div>
