// Custom bootstrap variables must be set or imported *before* bootstrap.

@import "bootstrap/functions";

$primary: #FCFCFD;

$secondary: #2C3E50;
$secondary-10: #7eb1e5;
$secondary-80: #395168;

$info: #57e5e5;

$success: #5be599;
$success-10: #ccffe2;
$success-80: #197f45;

$warning: #f4ba5d;
$warning-10: #ffebcc;
$warning-80: #7f5819;

$danger: #f96363;

$border: #abb2ba;

$light: #F3F4F6;
$dark: #DBFC75;

$black: #000;

$light-yellow: #F1EB9C;

// Override dei colori del form
$input-border-color: $border;
$input-bg: $primary;
$input-color: $secondary;
$input-focus-border-color: $secondary;
// $input-focus-shadow-rgba: $secondary;

@mixin custom-btn($color, $bg, $hover-bg, $active-bg) {
    font-weight: 400;
    color: $color;
    background-color: $bg;
    border-color: $bg;

    &:hover {
        background-color: $hover-bg;
        border-color: $hover-bg;
        color: $color;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba($hover-bg, 0.5);
    }

    &:active {
        background-color: $active-bg;
        border-color: $border;
        color: $primary;
    }
}

// SIDEBAR BUTTON COMPONENTS
.btn.btn-bd-secondary {
    font-weight: 400;
    color: $secondary;
    background-color: transparent;
    border-color: transparent;

    &:hover {
        color: $secondary;
        background-color: $dark;
        border-color: $dark;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba($dark, 0.5);
    }

    &:active,
    &.active,
    &:active:focus {
        color: $primary;
        background-color: $secondary;
        border-color: $border;
    }
}

.btn.btn-bd-danger {
    font-weight: 400;
    color: $danger;
    background-color: $light;
    border-color: transparent;

    &:hover {
        color: $secondary;
        background-color: $dark;
        border-color: $dark;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba($dark, 0.5);
    }

    &:active,
    &.active,
    &:active:focus {
        color: $primary;
        background-color: $secondary;
        border-color: $border;
    }
}

// VIEW BUTTON COMPONENTS
.btn.btn-view {
    @include custom-btn($secondary, $info, $dark, $secondary);
}

// EDIT BUTTON COMPONENTS
.btn.btn-edit {
    @include custom-btn($secondary, $warning, $dark, $secondary);
}

// DELETE BUTTON COMPONENTS
.btn.btn-delete {
    @include custom-btn($secondary, $danger, $dark, $secondary);
}

// RESTORE BUTTON COMPONENTS
.btn.btn-restore {
    @include custom-btn($secondary, $light-yellow, $dark, $secondary);
}

// PAGY COMPONENTS

.pagy-bootstrap .pagination .page-item .page-link {
  color: $secondary;  // Color for page links
}

.pagy-bootstrap .pagination .page-item.active .page-link {
  background-color: $secondary; // Background color for active page
  border-color: $secondary;     // Border color for active page
  color: $primary;               // Text color for active page
}

.pagy-bootstrap .pagination .page-item.disabled .page-link {
  color: $secondary;          // Color for disabled page links
  background-color: $light;   // Background for disabled page links
}

.pagy-bootstrap .pagination .page-link:hover {
  background-color: lightgrey; // Hover color for page links
  border-color: lightgrey;     // Hover border color
}

// HIGHLIHT COMPONENTS

mark {
    color: $secondary;
    background-color: $dark;
}

/* Change the checkbox and radio button checked state */
.form-check-input:checked[type="checkbox"] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%232C3E50' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.form-check-input:checked {
    background-color: $dark;
    border-color: $secondary;
}

// TABLE COMPONENTS

.table .table-secondary th {
    background-color: $secondary;
}

.nav-pills.nav-pills .nav-link.nav-link {
    background-color: $light;
    color: $secondary;

    &:hover {
        background-color: $dark;
        color: $secondary;
    }

    &.active {
        background-color: $secondary-80;
        color: $primary;

        &:hover {
            background-color: $secondary-80;
        }
    }
}



.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $border;
    opacity: 0.5; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $border;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: $border;
}


// ALERT

$alert-bg: $warning-10;
$alert-text: $warning-80;
$alert-border: $border;
$alert-shadow: rgba($dark, 0.1);

// ALERT
div.alert,
.alert.alert-warning-custom {
    background-color: $alert-bg;
    color: $alert-text;
    border: 1px solid $alert-border;
    border-radius: 0.375rem;
    padding: 1rem;
    box-shadow: 0px 2px 10px $alert-shadow;
    position: fixed;
    top: 0.5rem;
    right: 1rem;
    z-index: 1050;
    transition: opacity 0.5s, transform 0.5s;

    &.fade.show {
        opacity: 1;
        transform: translateX(0);
    }

    &.fade {
        opacity: 0;
        transform: translateX(100%);
    }

    a {
        color: darken($alert-text, 15%);
        text-decoration: underline;
    }

    .btn,
    .nav-link {
        all: unset;
    }
}

// NOTICE

$notice-bg: $success-10;
$notice-text: $success-80;
$notice-border: $border;
$notice-shadow: rgba($dark, 0.1);


.alert.notice {
    background-color: $notice-bg;
    color: $notice-text;
    border: 1px solid $notice-border;
    border-radius: 0.375rem;
    padding: 1rem;
    box-shadow: 0px 2px 10px $notice-shadow;
    position: fixed;
    top: 0.5rem;
    right: 1rem;
    z-index: 1050;
    transition: opacity 0.5s, transform 0.5s;

    &.fade.show {
        opacity: 1;
        transform: translateX(0);
    }

    &.fade {
        opacity: 0;
        transform: translateX(100%);
    }

    a {
        color: darken($notice-text, 15%);
        text-decoration: underline;
    }

    .btn,
    .nav-link {
        all: unset;
    }
}

@import "bootstrap";

// FORM RANGE

$form-range-track-bg:             $dark;
$form-range-thumb-bg:              $secondary;
$form-range-thumb-box-shadow:      0 .1rem .25rem rgba($black, .1);
$form-range-thumb-active-bg:       lighten($secondary, 20%);
$form-range-thumb-disabled-bg:     $border;
$form-range-thumb-focus-box-shadow: 0 0 0 1px $primary, $input-focus-box-shadow;

// FORM CHECK
// $form-check-input-width:                  1em;
// $form-check-min-height:                   $font-size-base * $line-height-base;
// $form-check-padding-start:                $form-check-input-width + .5em;
// $form-check-margin-bottom:                .125rem;
// $form-check-label-color:                  null;
// $form-check-label-cursor:                 null;
// $form-check-transition:                   null;

$form-check-input-active-filter:          brightness(90%);

$form-check-input-bg:                     $light;
$form-check-input-border:                 var(--#{$prefix}border-width) solid $border;
$form-check-input-border-radius:          .25em;
$form-check-radio-border-radius:          50%;
$form-check-input-focus-border:           $input-focus-border-color;
$form-check-input-focus-box-shadow:       $dark;

$form-check-input-checked-color:          $secondary;
$form-check-input-checked-bg-color:       $dark;
$form-check-input-checked-border-color:   $secondary;
$form-check-input-checked-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
$form-check-radio-checked-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>");

$form-check-input-indeterminate-color:          $component-active-color;
$form-check-input-indeterminate-bg-color:       $component-active-bg;
$form-check-input-indeterminate-border-color:   $form-check-input-indeterminate-bg-color;
$form-check-input-indeterminate-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-indeterminate-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>");

$form-check-input-disabled-opacity:        .5;
$form-check-label-disabled-opacity:        $form-check-input-disabled-opacity;
$form-check-btn-check-disabled-opacity:    $btn-disabled-opacity;

$form-check-inline-margin-end:    1rem;
