<%= render @activity %>

<br/>

<div class="container">
    <hr/>

    <h3>
        Lista utenti iscritti
    </h3>

    <% if @activity.subscriptions && @activity.subscriptions.length > 0 %>
        <%= render 'subscriptions/subscriptions_table',
                   subscriptions: @activity.subscriptions,
                   actv: true
        %>
    <% else %>
        <%= t '.no_subs' %>
    <% end %>
</div>
