<div id="<%= dom_id subscription_type %>">
  <p>
    <strong>Desc:</strong>
    <%= subscription_type.desc %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= subscription_type.duration %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= subscription_type.cost %>
  </p>

</div>
