<h1>Editing subscription type</h1>

<%= render "form", subscription_type: @subscription_type %>

<br>

<div>
  <%= link_to "Show this subscription type", @subscription_type %> |
  <%= link_to "Back to subscription types", subscription_types_path %>
</div>
