<p style="color: green"><%= notice %></p>

<h1>Subscription types</h1>

<div id="subscription_types">
  <% @subscription_types.each do |subscription_type| %>
    <%= render subscription_type %>
    <p>
      <%= link_to "Show this subscription type", subscription_type %>
    </p>
  <% end %>
</div>

<%= link_to "New subscription type", new_subscription_type_path %>
