<%# app/views/members/index.html.erb %>
<%= turbo_stream_from "members" %>
<h1>Anagrafica Membri</h1>
<%= link_to "Nuovo Membro", new_member_path, data: { turbo_frame: "new_member" } %>
<%= turbo_frame_tag "new_member" %>
<hr>
<div id="members">
  <% @members.each do |member| %>
    <%= render member %>
  <% end %>
</div>
